html,
body {
  padding: 0;
  margin: 0;
  background-color: hsl(212, 45%, 89%);
  width: 100vw;
  height: 100vh;
  display: flex;
    justify-content: center;
    align-items: center;
}

.item {
  display: block;
  background-color: white;
  width: 20rem;
  height: 34rem;
  
  border-radius: 18px;
}

.qr {
  border-radius: 10%;
  width: 18rem;
  height: 18rem;
  align-self: stretch;
  margin: 1rem auto;
}

.qr img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.text {
  text-align: center;
  padding-top: 1.1rem;
  width: 80%;
  margin: 0 auto;
  color: hsl(218, 44%, 22%);
  font-family: "Outfit", sans-serif;

}
.uiu {
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
}

p {
  font-size: 15px;
  text-align: center;
}
