*,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
.img {
  width: 260px;
  height: 260px;
  margin-bottom: 15px;
  position: relative;
  justify-self: flex-start;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  width: 295px;
  background-color: hsl(216, 50%, 16%);
  padding: 18px;
  border-radius: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
}

h2 {
  color: white;
  margin-bottom: 12px;
  display: flexbox;
  align-self: baseline;
  font-weight: 600;
}
p{
    color:  hsl(215, 51%, 70%);
}
span {
    color : white;
}
section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 0.8rem;
  margin-top: 20px ;
  font-weight: 400;
}
 .sum {
    display: inline-flex;
    gap: 5px;
  color: hsl(178, 100%, 50%);
}
.view {
    display: inline-flex;
    gap: 5px;
}
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    align-self: flex-end;
}
.line {
  background-color: hsl(215, 32%, 27%);
  width: 100%;
  height: 1px;
  margin: 0 0;
}

.footer{
    display: inline-flex;
    justify-content: flex-start;
    gap :10px;
    font-weight: 300;
}
.footer img{
    width : 25px;
    height : 25px;
    border: 1px solid white;
    border-radius: 50%;
    display: inline;
}