*,
html {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.img {
  width: 20rem;
  height: 20rem;
  margin-bottom: 1rem;
  position: relative;
  justify-self: flex-start;
  padding: 0;
  background-image: url(./images/image-equilibrium.jpg);
  background-size: cover;
  border-radius: 10px;
  background-position: center;
}
/* 
img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
} */
main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 38rem;
  width: 22rem;
  background-color: hsl(216, 50%, 16%);
  padding: 1rem;
  border-radius: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40%;
}

h2 {
  color: white;
  margin-bottom: 1rem;
  display: flexbox;
  align-self: baseline;
  font-weight: 600;
}
p {
  color: hsl(215, 51%, 70%);
}   
span {
  color: white;
}
section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 0.8rem;
  margin-top: 1.3rem;
  font-weight: 400;
  align-self: center;
}
.sum {
  display: inline-flex;
  gap: 5px;
  color: hsl(178, 100%, 50%);
}
.view {
  display: inline-flex;
  gap: 5px;
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.line {
  background-color: hsl(215, 32%, 27%);
  width: 100%;
  height: 1px;
  margin-top: 0.5rem;
}

.footer {
  display: inline-flex;
  justify-content: flex-start;
  gap: 10px;
  font-weight: 300;
  margin-top: 0.7rem;
}
.footer img {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid white;
  border-radius: 50%;
  display: inline;
}

@media screen and (max-width: 2560px) {
  html {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 12px;
  }
}
